@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.company {
  padding-top: 50px;

  > .inner {
    display: flex;
    justify-content: space-between;

    .subpage__menu {
      width: 20%;
      margin-right: 32px;
  
      .subpage__menu__title {
        position: relative;
        font-size: 24px;
        font-weight: 600;
        color: #000;
        padding-left: 30px;
      }
  
      .subpage__menu__title:before {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 4px;
        height: 24px;
        background: #33383f;
      }
  
      .subpage__menu__list {
        padding-top: 38px;
  
        .subpage__menu__item {
          display: block;
          width: 100%;
          padding: 21px 0 21px 20px;
          font-size: 18px;
          color: #000;
          border-bottom: 1px solid #cbcbcb;
          line-height: 1;
          box-sizing: border-box;
        }
    
        .subpage__menu__item:first-child {
            border-top: 1px solid #cbcbcb;
        }
    
        .subpage__menu__item:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    
        .subpage__menu__item--on {
            color: #fff;
            background: #33383f;
        }
    
        .subpage__menu__item--on:hover {
            text-decoration: none;
        }
      }
  
      
    }

    .subpage__main {
      width: 75%;
      min-height: 100vh;

      .subpage__main__title {
        font-size: 30px;
        font-weight: 600;
        color: #33383f;
      }
      
      .subpage__main__content {
        padding-top: 50px;
        font-size: 20px;
        color: #333;
        @include middle();
        flex-direction: column;
        
        .notice-cover {

          .cover {

            .notice {
              
            }
          }
        }

        .mainlogo {
          width: 200px;

          img {
            width: 100%;
          }
        }
        .button-box {
          display: flex;

          a {

            .button {
              width: 200px;
              height: 50px;
              display: flex;
              align-items: center;
              border: 1px solid #cbcbcb;
              border-radius: 5px;
              @include middle();
              margin: 0 10px;

              img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }
            }
          }
          a:hover {
            cursor: pointer;

            .button {
              border: 1px solid #898989;
            }
          }
        }

      }
      
      
    }
    
    
  }
  

  
}

@media (max-width: 1000px) { 
  .company {
  
    > .inner {

      .subpage__menu { 
        display: none;
      }
      .subpage__main { 
        width: 100%;

        .subpage__main__title {
          font-size: 20px;
        }

        .subpage__main__content {
          font-size: 16px;

          .main__content {
            
          }

        }

      }
    }
  }
}

@media (max-width: 600px) { 
  .company {
  
    > .inner {

      
      .subpage__main { 
        
       
        .subpage__main__content {
         

          .main__content {
            .person__wrap--category {

              
              .person__wrap--item {
                grid-template-columns: 50% 50%;
              }
            }
          }

        }

      }
    }
  }
}


