.Main {
  text-align: center;
  width: 100%;
  max-width: 100%;
	overflow-x: hidden;
}

/* header */
.Main .header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 1px;
  background-color: white;
  z-index: 9;
  box-shadow: 0px 1px 10px 1px grey;
}

.Main .menu {
  width: 90%;
  max-width: 1140px;
  color: black;
  height: 70px;
  display: flex;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1px;
  align-items: center;
  justify-content: center;
}
.Main .menu_1 {
  width: 200px;
  flex-grow: 1;
  font-size: 24px;
  margin: 0 40px 0 20px;
  z-index: 2;
}
.Main .maintitle {
  width: fit-content;
  z-index: 2;
  font-weight: 600;
  margin-top: 0.4rem;
}
.Main .maintitle:hover {
  color: rgb(206, 206, 206);
  cursor: pointer;
}
.Main .menu_3 {
  display: flex;
  justify-content: right;
}

.Main .menu .menulist {
  padding: 0 1rem;
  font-size: 1.3rem;
}
.Main .menu .menulist:hover {
  color: rgb(206, 206, 206);
  cursor: pointer;
}

/* Notice */
.Main .MainNotice {
  margin-top: 130px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main .sub_notice {
  font-size: 30px;
  margin: 10px 0;
  left: 0;
  right: 0;
}
.Main .sub_notice2 {
  font-size: 20px;
  margin: 10px 0;
  line-height: 40px;
  left: 0;
  right: 0;
}


/* notice name common */
.Main .notice_name {
  position: relative;
  left: 0;
  right: 0;
  margin: 40px auto 20px;
  width: 220px;
  height: 40px;
  display: flex;
}
.Main .notice_name .box1 {
  font-size: 30px;
}
.Main .notice_name .box2 {
  margin: auto;
  font-weight: 600;
  font-size: 35px
}





/* Qustion */
.Main .Qustion {
  padding: 1px;
}


/* LocationMap */
.Main .LocationMap {
  padding: 1px;
  background-color: rgb(234, 234, 234);
}


/* AboutUs */
.Main .AboutUs {
  padding: 1;
}
.Main .AboutUs .notice_name {
  width: 310px;
}


/* Store */
.Main .Store {
  margin-top: 100px;
  background-color: rgb(234, 234, 234);
  padding: 1px;
}
.Main .Store .notice_name {
  width: 350px;
}

/* footer */
.Main .footer {
  width: 100%;
}


@media screen and (max-width : 600px){
  .Main .header {
    width: 100%;
    height: 100px;
  }
  .Main .menu_1 {
    font-size: 1.4rem;
  }
  .Main .menu {
    width: 90%;
    display: block;
  }
  .Main .menu .menulist {
    width: 120px;
    font-size: 14px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Main .MainNotice {
    height: 550px;
  }
  .Main .sub_notice {
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .Main .sub_notice2 {
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
  }
   
  .Main .notice_name {
    width: 220px;
  }
  .Main .notice_name .box1 span {
    font-size: 40px;
  }
  .Main .notice_name .box2 {
    font-size: 30px
  }
  .Main .AboutUs .notice_name {
    width: 240px;
  }
  .Main .Store .notice_name {
    width: 280px;
  }
  .Main .ProductPrice_notice {
    font-size: 16px;
  }
}